* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(92, 92, 252);
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.247);
    padding: 1.5rem;
}

.slot {
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}


h1 {
    text-align: center;
}

.reset {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

td:hover {
    color: grey;
}

body {
    background-color: grey;
}